In [2]:
lst_data = ["Jack",["Sean",["Eric",["Zyan",["Nile"]]]]]
lst_data

['Jack', ['Sean', ['Eric', ['Zyan', ['Nile']]]]]

In [3]:
for k in lst_data:
    for i in k:
        print(i)

J
a
c
k
Sean
['Eric', ['Zyan', ['Nile']]]

In [4]:
for k in lst_data:
    
    if k == "Eric":
        print(k)
    else:
        print("\nValue is Not Matched...")

Value is Not Matched...

Value is Not Matched...

In [5]:
range(5)

range(0, 5)

In [6]:
for i in 'a':
    print(i)

a

In [7]:
for i in ['Sean', ['Eric', ['Zyan', ['Nile']]]]:
    print(i)

Sean
['Eric', ['Zyan', ['Nile']]]

In [8]:
for i in ['Eric', ['Zyan', ['Nile']]]:
    print(i)

Eric
['Zyan', ['Nile']]

In [13]:
data = {"Name":"Sean","Age":25}
for k in data.keys():
    print(k)

Name
Age

In [11]:
data.keys()

dict_keys(['Name', 'Age'])

In [14]:
data = {"Name":"Sean","Age":25}
for k in data:
    print(k)

Name
Age

In [15]:
stud_marks = {"Sean":250,"Mark":200,"Henry":220,"Nile":200,"Keren":290}

stud_name = input("\nEnter The Stud Name :")

for k in stud_marks:
    
    if stud_name == k:
        
        print("The Marks of",k,"is :",stud_marks[k])
        
    else:
        print(stud_name,"is not in databse..")

Enter The Stud Name :Henry
Henry is not in databse..
Henry is not in databse..
The Marks of Henry is : 220
Henry is not in databse..
Henry is not in databse..

In [16]:
stud_marks.items()

dict_items([('Sean', 250), ('Mark', 200), ('Henry', 220), ('Nile', 200), ('Keren', 290)])

In [17]:
stud_marks = {"Sean":250,"Mark":200,"Henry":220,"Nile":200,"Keren":290}

stud_name = input("\nEnter The Stud Name :")

for k in stud_marks:
    
    if stud_name == k:
        
        print("\nThe Marks of",k,"is :",stud_marks[k])
        
        break
        
    else:
        print(stud_name,"is not in databse..")

Enter The Stud Name :Henry
Henry is not in databse..
Henry is not in databse..

The Marks of Henry is : 220

In [20]:
stud_marks = {"Sean":250,"Mark":200,"Henry":220,"Nile":200,"Keren":290}

stud_name = input("\nEnter The Stud Name :")

for k in stud_marks:
    
    if stud_name == k:
        
        print("\nThe Marks of",k,"is :",stud_marks[k])
        
        break
        
    else:
        print(" ")
        print(stud_name,"is not in databse..")
#         break

Enter The Stud Name :Henry

Henry is not in databse..

Henry is not in databse..

The Marks of Henry is : 220